.app-header {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: lightblue;
    border: 1px solid lightblue;
}

.app-header>h1 {
    color: coral;
}

.app-body {
    flex-direction: column;
    gap: 1rem;
    padding: 20px 10px;
    background-color: beige;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: azure;
    border: 1px solid grey;
    padding: 1rem;
    margin: 0;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    min-width: 240px;
    flex: 1 1 280px;
}

.cards-row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.cards-row>.res-card {
    background-color: whitesmoke;
}

.food-veg {
    background-color: lightgreen;
    border-radius: 4px;
    padding: 8px 8px;
}

.food-non-veg {
    background-color: lightcoral;
    border-radius: 4px;
    padding: 8px 8px;
}

.app-footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    gap: 0.25rem;
    background-color: lightblue;
    border: 1px solid lightblue;
    padding: 0.5rem;
}